.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #142C8F;
  padding: 0 6rem;
}

.logo {
  color: rgb(236, 236, 236);
  margin-right: 1rem;
}

.nav-btn-content {
  display: flex;
  margin-left: 4rem;
  margin-top: .3rem;
}

.notification-icon,
.setting-icon {
  margin-right: 1.8rem;
  color: white;
  font-size: .8rem;
}

.log-out-btn {
  margin-right: 1.8rem;
  margin-top: .8rem;
  color: rgb(240, 237, 237);
  font-size: .7rem;
}
.ant-menu {
  width: 50%;
  background-color: #142C8F !important;
  color: rgb(240, 237, 237);
  border-bottom: none;

}
.ant-menu-item {
  border-bottom: none;
}

.ant-menu-item-selected {
  background-color: #27419B !important;
  color: #FFF;
  border-radius: 4rem;
}

.ant-menu-submenu-open::after {
  border-bottom-width: 0;
}


.search-icon {
  color: rgb(102, 100, 100);
}

.dashboard-container {
  width: 56%;
  margin: 0 auto;
}

.input-container {
  display: flex;
}

.input-content {
  border: 1px solid grey;
  padding-right: 1rem;
  border-radius: 2rem;
  margin: 2rem;
}

.input {
  border: none;
  background-color: #FFF;
  margin-left: 1rem;
  color: rgb(80, 78, 78);
  padding-right: 27rem;
  padding-left: 1rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border-radius: 2rem;

}

.download-icon-content {
  margin-top: 2.1rem;
  color: #122A8E;
}

.ant-btn.ant-btn-icon-only .anticon {
  font-size: 20px;
}

.download-icon {
  background-color: rgb(235, 235, 235);
  color: #122A8E;
}

.ant-menu-light.ant-menu-horizontal .ant-menu-item-selected::after {
  border-bottom-width: 0px;
}

.ant-radio-button-wrapper {
  position: static;
  margin: .4rem;
  border-inline-start: 1px solid #d9d9d9;
  border-start-start-radius: 1rem;
  border-start-end-radius: 1rem;
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
  margin: 0 0.3rem;
}

.ant-radio-button-wrapper:first-child {
  border-inline-start: 1px solid #d9d9d9;
  border-start-start-radius: 1rem;
  border-end-start-radius: 1rem;
}

.ant-radio-button-wrapper:last-child {
  border-inline-start: 1px solid #d9d9d9;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
}

.ant-radio-button{
  color: #122A8E;
}
.ant-menu-horizontal {
  line-height: 3.1rem;
}

.filter-item-container {
  width: 96%;
  margin-left: 2rem;
}

.filter-detail-content {
  display: flex;
  justify-content: space-between;
  padding: 0 -2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: .6rem;
  box-shadow: 0px 0px .3px .3px rgb(231, 231, 231);
  border-radius: .3rem;
}

.filtered-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 1.2rem;
}